@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
  .group__pulse img {
    width: 245px;
  }
  .popup__input {
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
  }
  .popup form{
    max-width: none;
  }
}

@media (max-height: 850px) {
  .header__logo_item {
    font-size: 11px;
  }
  .header__circle {
    height: 70px;
  }
  .about {
    margin-top: 150px;
  }
  .header__nav_item {
    font-size: 20px;
  }
}

@media (max-height: 700px) {
  .popup__inner {
    padding: 5px 0 15px;
  }
  .attention {
    font-size: 14px;
  }
  .accept {
    font-size: 15px;
    margin-top: 10px;
  }
  .popup__active {
    top: 73%;
  }
}

@media (max-height: 650px) {
  .popup__title,
  .popup__subtitle {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}
@media (max-width: 1350px) {
  .price__left {
    height: 400px;
  }
  .price__left_price_inner {
    padding: 30px;
    left: -50px;
    font-size: 40px;
    line-height: 65px;
  }
  .price__left_price_inner_reverse {
    padding: 30px;
    right: -50px;
    font-size: 40px;
    line-height: 65px;
  }
  .price__left_title {
    font-size: 50px;
    line-height: 60px;
  }
  .price__right_media {
  }
  .price_left__btn a {
    font-size: 40px;
    line-height: 50px;
  }
  .price__left_price_img {
    margin-right: 10px;
  }
  .price__right {
    font-size: 30px;
    line-height: 40px;
    max-width: 300px;
  }
  .price__container {
    padding: 0 45px;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 1100px;
  }

  .group__left_title {
    font-size: 30px;
    line-height: 40px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .group__left_text {
    max-width: 300px;
    line-height: 20px;
  }
  .why__inner {
    column-gap: 0px;
  }
}

@media (max-width: 1100px) {
  .why__item {
    max-width: 280px;
  }
  .about {
    overflow: hidden;
    margin-top: 100px;
    padding-top: 25px;
  }
  .group__item {
    padding: 15px;
  }
  .about__man {
    width: 450px;
    top: 10px;
  }
  .about__bg {
    height: 475px;
  }
  .about__subtitle,
  .about__title {
    max-width: 600px;
  }
  .about__subtitle {
    height: 120px;
    top: 53%;
  }
  .about__subtitle_text {
    font-size: 40px;
    line-height: 50px;
  }
  .about__title_text {
    font-size: 64px;
    line-height: 100px;
  }
  .pulse img {
    height: 100px;
  }

  .why__pulse {
    bottom: -70px;
  }
  .about__pulse {
    margin-top: 20px;
  }
}

@media (max-width: 1050px) {
  .group__left_text {
    line-height: 18px;
    font-size: 16px;
  }
  .group__left_title {
    font-size: 24px;
    line-height: 30px;
  }
  .group__right img {
    height: 250px;
  }
  .group__item {
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .price__left {
    max-width: 400px;
  }
  .price__right {
    font-size: 26px;
    line-height: 36px;
  }
  .price__center {
    padding: 0 15px;
  }
  .price__left_price_img_reverse {
    margin-left: 15px;
  }
}

@media (max-width: 950px) {
  .about__subtitle,
  .about__title {
    max-width: 500px;
  }
  .about__title_text {
    margin-left: 65px;
    font-size: 56px;
  }
  .about__subtitle_text {
    font-size: 36px;
    line-height: 44px;
  }

  .price__left_price_inner,
  .price__left_price_inner_reverse {
    position: initial;
    order: 2;
    padding: 20px 30px;
    font-size: 34px;
    line-height: 50px;
    margin-top: 10px;
  }
  .price_left__price,
  .price_left__price_reverse {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .price_left__btn {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .price__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    height: auto;
  }

  .price__item,
  .price__item_reverse {
    flex-direction: column;
    margin: 40px 0;
  }
  .price_left__price,
  .price_left__price_reverse {
    margin-top: 30px;
  }
  .price__center {
    transform: rotate(90deg);
    margin: 10px 30px;
  }
  .price__inner {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .title,
  .subtitle {
    font-size: 50px;
    line-height: 60px;
  }
  .title__bg {
    height: 380px;
  }
  .why__inner {
    justify-content: space-around;
  }
  .group__pulse img {
    display: none;
  }
}

@media (max-width: 800px) {
  .about__man {
    width: 350px;
    top: 45px;
  }
  .about__title_text {
    line-height: 74px;
  }
  .about__subtitle_text {
    margin-left: 30px;
  }
  .about__subtitle,
  .about__title {
    max-width: 400px;
  }
  .about__bg {
    height: 400px;
  }
  .why__inner {
    margin-top: 50px;
  }
  .about__title {
    top: 62%;
  }
  .about__subtitle {
    top: 57%;
  }
  .group__item {
    height: auto;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .group__inner {
    margin-top: 100px;
  }
  .group__right {
    margin-top: 15px;
  }
  .pulse {
    margin-top: 50px;
  }

  .footer__title {
    font-size: 50px;
  }
  .copyright {
    font-size: 12px;
  }
  .footer__adress h4 {
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
  }
  .footer__adress a {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 850px) {
  .train__item_center {
    display: none;
  }
}

@media (max-width: 700px) {
  .group-bg__item_3 {
    bottom: -150px;
  }
  .price__left_title {
    font-size: 40px;
    line-height: 50px;
  }
  .price_left__price,
  .price_left__price_reverse {
    margin-top: 20px;
  }
  .price__left_price_inner,
  .price__left_price_inner_reverse {
    font-size: 30px;
    line-height: 40px;
  }
  .price_left__btn a {
    font-size: 30px;
    line-height: 40px;
  }
  .price__right {
    font-size: 24px;
    line-height: 32px;
  }
  .price__left {
    max-width: 350px;
  }
  .price__left_price_img_reverse,
  .price__left_price_img {
    height: 80px;
  }
  .price {
    margin-top: 20px;
  }
}

@media (max-width: 670px) {
  .burger {
    height: auto;
    display: block;
  }
  .burger span {
    width: 25px;
    display: block;
    border-bottom: 3px solid black;
    margin-top: 4px;
  }
  .burger span:nth-child(1) {
    margin-top: 0;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fcf322;
    transform: translateX(105%);
    transition: transform 0.2s linear;
  }

  .header__nav_burger {
    transform: translateX(0px);
  }
  .header__nav_item + .header__nav_item {
    margin-left: 0;
  }

  .burger__close {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 30px;
    height: 30px;
  }

  .burger__close span {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .burger__close span:nth-child(1) {
    width: 100%;
    border-bottom: 3px solid #000;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .burger__close span:nth-child(2) {
    width: 100%;
    border-bottom: 3px solid #000;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .train__item_about ul {
    margin-left: 0;
  }
  .train__item {
    flex-direction: column;
    text-align: center;
  }
  .footer__title {
    font-size: 36px;
  }
  .copyright {
    font-size: 10px;
  }
  .footer__contacts img + img {
    margin-left: 15px;
  }
}

@media (max-width: 600px) {
  .footer__inner {
    flex-direction: column;
    text-align: center;
  }
  .footer__adress a {
    text-align: center;
  }
  .footer__adress h4 {
    text-align: center;
  }
  .footer__contacts {
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .about__man {
    width: 250px;
    top: 17px;
  }
  .about__subtitle,
  .about__title {
    max-width: 330px;
  }
  .about__subtitle_text {
    margin-left: 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .about__title_text {
    font-size: 46px;
  }
  .about__bg {
    height: 275px;
  }
  .about__subtitle {
    height: 100px;
  }
  .about__title {
    top: 64%;
  }
  .pulse img {
    height: 80px;
  }
  .pulse {
    margin-top: 25px;
  }
  .why__item {
    height: 350px;
    max-width: 250px;
  }
  .why__item_title {
    font-size: 20px;
    line-height: 30px;
  }
  .why__item_text {
    font-size: 20px;
    line-height: 28px;
  }
  .why__item_logo {
    width: 50px;
    height: 50px;
  }
  .title,
  .subtitle {
    font-size: 40px;
    line-height: 50px;
  }
  .title__bg {
    height: 350px;
  }
  .why {
    padding-top: 25px;
  }
  .popup{
    max-width: 450px;
  }
}

@media (max-width: 550px) {
  .why__item {
    flex: 1 1 51%;
  }
  .why__item {
    margin-top: 25px;
  }
  .why__pulse {
    bottom: -85px;
  }
}

@media (max-width: 530px) {
  .about__subtitle,
  .about__title {
    max-width: 250px;
  }
  .about__title_text {
    margin-left: 35px;
    font-size: 40px;
    line-height: 60px;
  }
  .about__man {
    width: 200px;
    top: 17px;
  }
  .about__subtitle_text {
    font-size: 26px;
    line-height: 30px;
    font-size: 23px;
  }
  .about__title_text {
    font-size: 40px;
    line-height: 70px;
  }
  .about__bg {
    height: 225px;
  }
  .about__title {
    top: 67%;
  }
  .about__subtitle {
    top: 60%;
  }
  .why__container {
    max-width: none;
  }
  .title__bg {
    height: 300px;
  }
  .title,
  .subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  .why__item_text {
    font-size: 16px;
    line-height: 20px;
  }
  .why__item_title {
    font-size: 18px;
    line-height: 20px;
  }
  .why__item {
    height: 250px;
  }
  .train__item_name {
    font-size: 28px;
    line-height: 32px;
  }
  .train__item_job {
    font-size: 20px;
    line-height: 24px;
  }
  .train__item_about span {
    font-size: 20px;
    line-height: 26px;
    margin-top: 15px;
  }
  .train__item_about li {
    font-size: 18px;
    line-height: 24px;
    list-style: none;
  }
  .train__item_img img {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .header__circle {
    height: 50px;
  }
  .header__logo_item {
    font-size: 8px;
  }
  .header__logo {
    margin: 5px 0;
  }
  .popup{
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .about__bg {
    height: 170px;
  }
  .about__man {
    right: -15px;

    width: 150px;
  }
  .about__subtitle,
  .about__title {
    max-width: 185px;
  }
  .about__subtitle {
    height: 80px;
  }
  .about__subtitle_text {
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
  }
  .about__title_text {
    font-size: 36px;
    line-height: 50px;
    margin-left: 30px;
  }
  .pulse img {
    height: 50px;
  }
  .pulse {
    margin-top: 20px;
    bottom: -30px;
    height: 60px;
  }
  .about {
    margin-top: 60px;
    padding-top: 30px;
  }
  .price__left_title {
    font-size: 30px;
    line-height: 40px;
  }
  .price_left__btn a {
    font-size: 26px;
    line-height: 30px;
  }
  .price__left_price_inner,
  .price__left_price_inner_reverse {
    font-size: 26px;
    line-height: 30px;
  }
  .title__bg {
    height: 250px;
  }
  .train__item_img img {
    height: 250px;
  }
  .train__item_name {
    font-size: 20px;
    line-height: 26px;
  }
  .train__item_job {
    font-size: 16px;
    line-height: 20px;
  }

  .train__item_about span {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }

  .train__item_about li {
    font-size: 16px;
  }
  .train {
    margin-top: 0;
  }
  .contacts {
    margin-top: 0;
  }
}


@media (max-height:600px){
  .attention {
    font-size: 10px;
}
.popup__input{
  font-size: 16px;
}
.accept input{
  width: 15px;
  height: 15px;
}
.popup button{
  font-size: 20px;
  line-height: 20px;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;

}
.accept {
  font-size: 12px;
}
}