.coach__back_link_wrapper {
  width: 100%;
  margin-left: 30px;
}

.coach_times_item_wrapper {
  display: flex;
  column-gap: 30px;
  margin-top: 20px;
}

.coach_times_item_wrapper_hidden {
  display: none;
}

.coach_times_item {
  font-size: 20px;
  cursor: pointer;
  display: block;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.15s linear;
}
.coach_times_item:hover {
  color: black;
  background: white;
}
.coach_times_item_disabled {
  background: rgb(165, 164, 164);
  border: 2px solid rgb(165, 164, 164);
  cursor: not-allowed;
}
.coach_times_item_disabled:hover {
  color: white;
  background: rgb(165, 164, 164);
}
.popup_record_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poup__date_value {
  font-size: 24px;
  margin-top: 10px;
}
.poup__time_value {
  font-size: 24px;
  margin-top: 10px;
}

.popup__btn_wrapper {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
}
