* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}
.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}

.header {
  border-bottom: 3px solid #000000;
}
.header__container {
  max-width: 1430px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 10px 0;
  position: relative;
}
.header__circle {
  animation: rotation 10s linear infinite;
  height: 100px;
}
.header__logo_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo__item_img {
  max-width: 100%;
}
.header__logo_title {
  bottom: 10px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav_item {
  cursor: pointer;
  font-size: 24px;
  line-height: 36px;
}

.header__nav_item_acc_link {
  display: block;
  background: black;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

.header__nav_item + .header__nav_item {
  margin-left: 20px;
}

.header__mb {
  margin-bottom: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.burger {
  display: none;
}

.about {
  margin-top: 250px;
}
.container__about {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.about__inner {
  text-align: center;
  position: relative;
}
.about__bg {
  max-width: 100%;
  margin-right: 40px;
}
.about__man {
  position: absolute;
  right: 0;
  top: -40px;
  max-width: 100%;
  z-index: 2;
}
.about__title {
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 57%;
  text-align: left;
  margin-left: 80px;
  right: 0;
  background: #000000;
  transform: rotate(-1.82deg) translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.about__subtitle {
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 51%;
  right: -25px;
  background: #fcf322;
  transform: rotate(4.47deg) translate(-50%, -50%);
  height: 150px;
}

.about__subtitle_text {
  font-size: 48px;
  line-height: 71px;
  margin-left: 40px;
  text-align: left;
  transform: rotate(2.35deg);
  margin-top: 10px;
}
.about__title_text {
  transform: rotate(-2.94deg);
  color: white;
  font-size: 96px;
  line-height: 142px;
  margin-left: 80px;
}

.pulse {
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 129px;
  background-color: white;
}

.why {
  width: 100%;
  padding-top: 60px;
  background: top no-repeat url(./img/why-bg.jpg);
  background-size: cover;
  font-weight: 500;
  position: relative;
}
.title__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.title__bg {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.title {
  display: inline-block;
  background: #fcf322;
  font-weight: 500;
  font-size: 62px;
  line-height: 80px;
  text-align: center;
  color: #000000;
  padding: 5px;
  margin-top: 15px;
  position: relative;
  z-index: 2;
}
.subtitle {
  display: inline-block;
  font-size: 62px;
  line-height: 80px;
  background: #000000;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  margin-top: 100px;
}
.why__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  padding-bottom: 95px;
  flex-wrap: wrap;
}
.why__item {
  flex: 1 1 34%;
  max-width: 330px;
  background: #fcf322;
  border: 5px solid #000000;
  border-radius: 50px;
  text-align: center;
  height: 400px;
  margin-top: 50px;
}
.why__item_logo {
  margin-top: 20px;
}
.why__item_title {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
}

.why__item_text {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  max-width: 225px;
  margin: 0 auto;
}

.why__item_line {
  margin-top: 5px;
}

.why__pulse {
  position: absolute;
  bottom: -53px;
  left: 50%;
  z-index: 1;
  background: none;
  transform: translateX(-50%);
}

.group {
  margin-top: 100px;
  position: relative;
}

.group-bg img {
  position: absolute;
  max-width: 100%;
}

.group-bg__item_1 {
  top: -100px;
  left: 0;
}
.group-bg__item_2 {
  top: 30%;
  right: 0;
  transform: translateY(-30%);
}
.group-bg__item_3 {
  left: 0;
  bottom: -400px;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.group__inner {
  margin-top: 150px;
}
.group__item {
  position: relative;
  background: #fcf322;
  border: 5px solid #000000;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 30px;
  align-items: center;
  height: 350px;
}
.group__left {
  text-align: center;
}
.group__left_title {
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
.group__left_text {
  max-width: 300px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  max-width: 430px;
  color: #000000;
}

.group__pulse img {
  max-width: 100%;
}
.group__right {
  margin-top: 4px;
}

.group__right img {
  max-width: 100%;
  height: 300px;
}

.price__item,
.price__item_reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: relative;
}
.price__container {
  padding: 0 30px;
}
.price__inner {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.price {
  margin-top: 100px;
}
.price__left {
  background: #fcf322;
  border: 6px solid #000000;
  box-sizing: border-box;
  border-radius: 51px;
  max-width: 450px;
  width: 100%;
  height: 450px;
}
.price__left_title {
  font-weight: 500;
  font-size: 64px;
  line-height: 90px;
  text-align: center;

  color: #000000;
}
.price_left__price {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 150px;
}

.price_left__price_reverse {
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
}
.price__left_price_inner {
  padding: 50px 36px;
  background: #000000;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  position: absolute;
  left: -80px;

  color: #ffffff;
}
.price__left_price_img {
  margin-right: 25px;
}
.price_left__btn {
  color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.price_left__btn {
  margin-top: 50px;
}

.price_left__btn a {
  background: black;
  text-decoration: none;
  color: inherit;
  max-width: 250px;
  width: 100%;
  padding: 5px 46px;
  font-size: 48px;
  line-height: 71px;
  color: #ffffff;
}

.price__right {
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  max-width: 452px;
  padding-left: 40px;
  width: 100%;
}

.price__left_price_inner_reverse {
  padding: 50px 36px;
  background: #000000;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;
  text-align: center;
  position: absolute;
  right: -80px;

  color: #ffffff;
}

.price__left_price_img_reverse {
  margin-left: 25px;
}

.popup {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 68%;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -70%);
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 1000;
  cursor: pointer;
}

.popup__close span {
  position: absolute;
  top: 50%;
  left: 50%;
}
.popup__close span:nth-child(1) {
  width: 100%;
  border-bottom: 3px solid #000;
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close span:nth-child(2) {
  width: 100%;
  border-bottom: 3px solid #000;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__inner {
  padding: 5px 0 35px;
  overflow: hidden;
}

.popup__active {
  opacity: 1;
  top: 71%;
  visibility: visible;
  transition: opacity 0.4s linear, top 0.4s linear;
}
.popup__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
}
.popup__subtitle {
  font-size: 36px;
  line-height: 53px;
  text-align: center;

  color: #ffffff;
}
.popup form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  padding: 0 15px;
  max-width: 80%;
  width: 100%;
}

.popup input::placeholder {
  font-size: 24px;
}

.popup__bg {
  top: 100px;
  height: 230px !important;
}
.custom__input {
  border: none;
  border-bottom: 3px solid #fcf322;
  padding: 10px;
  font-size: 24px;
  width: 100%;
  margin-top: 15px;
  outline: none;
  transition: all .15s linear;
}

.custom__input:focus {
  border-bottom: 3px solid black;
}

.accept {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.accept input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.attention {
  margin-top: 10px;
}

.form__button {
  font-size: 36px;
  line-height: 53px;
  text-align: center;

  color: #ffffff;
  background: black;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  display: block;
  border-radius: 10px;
}

.train {
  margin-top: 50px;
}
.train__inner {
  display: flex;
  flex-direction: column;
  margin-top: px;
}
.train__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.train__item_img img {
  height: 400px;
  max-width: 100%;
}

.train__item_about {
  max-width: 300px;
  width: 100%;
  flex: 1 1 auto;
}
.train__item_name {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}
.train__item_job {
  font-size: 26px;
  line-height: 30px;
  font-weight: normal;
}

.train__item_about span {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 20px;
  display: block;
}

.train__item_about ul {
  margin-left: 40px;
}
.train__item_about li {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.train_bg {
  left: 51%;
}

.contacts {
  margin-top: 50px;
}

.contacts__container {
  height: 60vh;
  margin-top: 50px;
}

.contacts__title__inner {
  padding: 40px 0;
  overflow: hidden;
}

.footer {
  margin-top: 50px;
  background: #000000;
  padding: 5px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}
.copyright {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  font-family: 'Roboto';
}
.footer__contacts {
  display: flex;
}

.footer__contacts img + img {
  margin-left: 30px;
}
.footer__adress {
  color: white;
  font-family: 'Roboto';
  margin-top: 10px;
}

.footer__adress a {
  text-decoration: none;
  text-align: right;
  display: block;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  color: #ffffff;
}

.footer__adress h4 {
  color: #ffffff;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-top: 20px;
  display: block;
  color: #ffffff;
}
